/* Write your CSS here */

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-title {
  color: #000;
}

.delete-button {
  background-color: white;
  height: 30px;
  color: #ff0b37;
  border: 1px solid #ff0b37;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  align-self: center;
  margin-left: 5px;
}

.cont {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.btn-card {
  display: flex;
  align-items: center;
}
.title-card {
  display: flex;
}
.check-box {
  border: 2px solid red;
  outline: none;
  width: 15px;
  height: 15px;
  align-self: center;
  margin-right: 20px;
}
.completed .todo-title {
  text-decoration: line-through;
  color: #888;
}
